<html lang="en">

<head>
  <title>Harvest vase</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="product-img">
      <img src="http://bit.ly/2tMBBTd" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>nature</h1>
        <h2>nature</h2>
        <p>-----------n<br>--------<br> --------<br> ------------. </p>
      </div>
      <div class="product-price-btn">
      
        <button type="button" routerLink="#">fleuriste</button>
      </div>
    </div>
  </div>

</body>

</html>